/* nav  {
   color: red
} */
a {
   margin-inline: 20px;
   text-decoration: none;
   color:aliceblue;
}
a.active {
   color: black;
   font-size: large;
   background-color: aliceblue;
   padding: 5px;
}